<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.yura.shoplist">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name=".CategoryListActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".ItemListActivity"
                android:parentActivityName=".CategoryListActivity"/>
        <activity android:name=".SendJSONActivity">
            <intent-filter>
                <action android:name="android.intent.action.SEND"/>

                <category android:name="android.intent.category.DEFAULT"/>

                <data android:mimeType="application/json"/>
                <data android:mimeType="application/x-javascript"/>
                <data android:mimeType="text/javascript"/>
                <data android:mimeType="text/x-javascript"/>
                <data android:mimeType="text/x-json"/>
                <data android:mimeType="text/json"/>
                <data android:mimeType="text/plain"/>
                <data android:mimeType="*/*"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND_MULTIPLE"/>

                <category android:name="android.intent.category.DEFAULT"/>

                <data android:mimeType="application/json"/>
                <data android:mimeType="application/x-javascript"/>
                <data android:mimeType="text/javascript"/>
                <data android:mimeType="text/x-javascript"/>
                <data android:mimeType="text/x-json"/>
                <data android:mimeType="text/json"/>
                <data android:mimeType="text/plain"/>
                <data android:mimeType="*/*"/>
            </intent-filter>
        </activity>
        <activity android:name=".EditItemActivity"
                  android:parentActivityName=".ItemListActivity">
        </activity>
    </application>

</manifest>